<div class="row ">
    <div class="profile col-lg-8 col-sm-12 col-12">
        <div class="profile-image-container"></div>
        <div class="profile-info-container bg-light">
            <div class="profile-pic"></div>

            <div class="profile-info">
                <div>
                    {{!-- <h4>{{user.username}}</h4> --}}
                    {{#each profiles as |profile|}}
                    <h4>{{upperCaseFirst profile.first_name}} {{upperCaseFirst profile.last_name}}</h4>



                    <p><span class="profile-list-icon"><i class="fas fa-home"></i></span>
                        <span class="profile-info-list">Lives in :</span>{{upperCaseFirst profile.city}}
                        ,{{upperCaseFirst profile.state}},
                        {{upperCaseFirst profile.country}}

                    </p>
                    {{#if profile.education}}
                    <p><span class="profile-list-icon"><i class="fas fa-user-graduate"></i></span>
                        <span class="profile-info-list">Attended :</span> {{profile.education}}

                    </p>{{/if}}
                    {{#if profile.skills}}
                    <p><span class="profile-list-icon"><i class="fas fa-tools"></i></span>
                        <span class="profile-info-list">Skills:</span> {{profile.skills}}

                    </p>{{/if}}
                    {{#if profile.industry}}
                    <p><span class="profile-list-icon"><i class="fas fa-industry"></i></span>
                        <span class="profile-info-list">Industry :</span> {{profile.industry}}

                    </p>{{/if}}
                    {{#if profile.experience}}
                    <p><span class="profile-list-icon"><i class="fab fa-buffer"></i></span>
                        <span class="profile-info-list">EXPERIENCE :</span>{{profile.experience}}
                    </p>{{/if}}

                    {{#if profile.interest}}
                    <p><span class="profile-list-icon"><i class="fas fa-certificate"></i></span>
                        <span class="profile-info-list">Interests :</span> {{profile.interest}}
                    </p>{{/if}}
                    {{/each}}
                </div>
                <div class="btn-edit-profile">
                    <a href="/profile/edit-profile/{{user.user_id}}"><i class="fas fa-pencil-alt"></i></a>
                </div>
            </div>
        </div>
        <section class="create-new-post bg-light">
            <h5>Create New Post</h5>

            <form class="new-post-form">
                <div>
                    <input type="text" id="post-title" name="post-title" placeholder="Title" />
                </div>
                <div>
                    <input id="post_content" name="post_content" placeholder="Content" />
                </div>
                <button type="submit" class="btn">Create</button>
            </form>

        </section>
        {{!-- =========================================== --}}

        {{!-- Added Post by the user in Profile page --}}


        {{#if posts.length}}
        <section class="your-posts bg-light">
            <h5>Your Posts</h5>
            <ul>
                {{#each posts as |post|}}
                <li>
                    <article class="post">
                        <div class="title">

                            <div class="title-heading"><a href="/post/{{post.id}}">{{post.title}}</a></div>

                            <div class="btn-edit-post"><a href="/profile/edit-post/{{post.id}}" class="edit-link"><i
                                        class="fas fa-pencil-alt"></i></a></div>


                        </div>
                        <div class="meta">
                            <p>{{post.content}}</p>
                        </div>
                        {{#if comments.length}}
                        <div><a href="/post/{{post.id}}" id="title-info">{{comments.length}}
                                {{format_plural "comment" comments.length}}</a></div>
                        {{/if}}
                    </article>

                </li>
                {{/each}}
            </ul>
        </section>
        {{/if}}
    </div>


    <div class="jobs col-lg-4 col-sm-12 col-12">

        <div class="home-jobs" id="profile-jobs">



        </div>

    </div>



</div>



<script src="/javascript/config.js"></script>
<script src="/javascript/add-post.js"></script>
<script src="/javascript/homepage.js"></script>